{% extends "_wireframe.html" %}

{% block content %}
	<div class="row">
		<section class='col-xs-6 col-sm-8'>
			<h1>{{ datas.pageTitle }}</h1>
				<form id="edit-user-form" {% if datas.user %} method="PATCH" {% else %} method="POST" {% endif%}>
				<div class="form-group">
					<label for="prenom">Prenom</label>
					<input type="text" class="form-control" name="prenom" id="prenom" {% if datas.user %} value="{{ datas.user.getPrenomUser() }}" {% endif %}>
				</div>
				<div class="form-group">
					<label for="nom">Nom</label>
					<input type="text" class="form-control" name="nom" id="nom" {% if datas.user %} value="{{ datas.user.getNomUser }}" {% endif %}>
				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" class="form-control" name="email" id="email" {% if datas.user %} value="{{ datas.user.getEmailUser() }}" {% endif %}>
				</div>
				<div class="form-group">
					<label for="mot-passe">Mot de passe</label>
					<input type="password" class="form-control" name="mot-passe" id="mot-passe">
				</div>
				<div class="form-group">
					<label for="mot-passe-verif">Vérification du Mot de Passe</label>
					<input type="password" class="form-control" name="mot-passe-verif" id="mot-passe-verif">
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</section>
	</div>
{% endblock %}

{% block footer %}
	{{ parent() }}
	<script type="text/javascript" src="/assets/scripts/users.js"></script>
{% endblock %}