{% extends "_wireframe.html" %}

{% block content %}
	<div class="row">
		<section class='col-xs-6 col-sm-8'>
			<h1>{{ datas.users.getNomUser() }} {{ datas.users.getPrenomUser() }}</h1>
			<small>Inscrit depuis le {{ datas.post.getDateCreation()|date("d F Y") }}</small>
			<p>Adresse Mail : <a href="mailto:{{ datas.users.getEmailUser() }}">{{ datas.users.getEmailUser() }}</a></p>
			<small>
				<a class="btn btn-secondary" href="/users/edit/{{ datas.users.getIdUser() }}">Editer</a>
				<a class="btn btn-danger delete-user" href="#" data-postid="{{ datas.users.getIdUser() }}">Supprimer</a>
			</small>
		</section>
	</div>
{% endblock %}

{% block footer %}
	{{ parent() }}
	<script type="text/javascript" src="/assets/scripts/user.js"></script>
{% endblock %}