{% extends "_wireframe.html" %}

{% block content %}
	<div class="row">
		<section class='col-xs-6 col-sm-8'>
			<h1>{{ datas.pageTitle }}</h1>
			<small>Le {{ datas.post.getDateCreation()|date("d F Y") }}</small>
			<div class="post_content">
				{{ datas.post.content()|raw }}
			</div>
			<small>
				<a href="/posts/edit/{{ datas.post.getId() }}">Editer</a>
				<a href="#" id="deletePost" data-postid="{{ datas.post.getId() }}">Supprimer</a>
			</small>
		</section>
	</div>
{% endblock %}

{% block footer %}
	{{ parent() }}
	<script type="text/javascript" src="/assets/scripts/posts.js"></script>
{% endblock %}